body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}
.left{
    display: flex;
     width: 35vw;
     flex-direction: column;
     z-index: 10;
    background-color: #474747;
}